body {
    background-color: lightgrey;
}

h1 {
    color: dark-gray;
    font-family: helvetica;
    font-size: 20px;
}

h2 {
    color: dark-gray;
    font-family: helvetica;
    font-size: 18px;
}

li {
    font-family: helvetica;
    font-size: 14px;
}

p {
    color:green;
}
