body {
    background-color: lightgrey;
}

h1 {
    color: dark-gray;
    font-family: helvetica;
    font-size: 20px;
}

h2 {
    color: dark-gray;
    font-family: helvetica;
    font-size: 18px;
}

li {
    font-family: helvetica;
    font-size: 14px;
}

p {
    font-family: helvetica;
    font-size: 14px;
}

a {
    font-family: helvetica;
    font-size: 14px;
}

.frequent {
    background-color:green;
}

.sometimes {
    background-color:orange;
}

.never {
    background-color:red;
    color:#ffff;
}
